.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.username {
    margin-left: auto ;
}

button {
    border: solid 1px rgb(189, 189, 189);
    outline: none;
    background: var(--tg-theme-button-color);
    /* background-color: black; */
    color: var(--tg-theme-text-color);
    padding: 7px;
    border-radius: 15px;
}